[2016-05-05 12:46] mlnmln opened #1 "Add PT Shadows over Innistrad results"
@czarandy I could help out/contribute here. Any insights on how you crawled the initial data?

[2016-05-05 12:54] mlnmln opened #2 "How to deal with umlauts/special characters in player names?"
@czarandy

Given

http://www.mtgptresults.com/player/daniel-grafensteiner

vs.

http://www.mtgptresults.com/player/daniel-gr-fensteiner

Which one should be the correct one? I assume the latter.

Is there a way in react-router to beautify their respective urls?

E.g.:

http://www.mtgptresults.com/player/daniel-graefensteiner

[2016-05-06 00:52] czarandy commented on #1
I had a hacky Python script that parsed the wizards site html, but they keep changing the format so it stopped working. The newest version of their site uses JS so you can't even load all the results at once.

[2016-05-06 00:54] czarandy commented on #2
I usually use the latest version from Wizards, so I would actually use the former. But it's kind of arbitrary. Right now you have to just rename all the references in the json files to get the urls to change; I don't have it set up to allow aliases or anything.

[2016-05-06 11:57] mlnmln commented on #1
Alright. I'm in the process of hacking something new on top of https://github.com/redco/goose-parser . Made progress by blacklisting the JavaScript responsible for the data tables, so at least I get all results now. I'm currently working on transforming the data to match your format. Could give you access if you are interested.

[2016-05-07 18:13] mlnmln opened #4 "Build players.json from tournaments.json"

[2016-05-07 18:14] mlnmln opened #5 "Merge duplicate players during build"

[2016-05-07 19:00] czarandy commented on #5
Yeah it's probably better to just update the tournaments.json file and fix the names there, rather than separately maintaining a list.

[2016-05-08 03:36] #4 closed

[2016-05-08 03:36] czarandy commented on #1
Thanks for adding this!

[2016-05-08 03:36] #1 closed

[2016-05-08 08:31] mlnmln commented on #1
Cool. Would you update the github pages branch then?

[2016-05-13 18:56] mlnmln opened #8 "Fix wrong index in the generation of players if team PT"
I missed accounting for team pro tours in the grunt task. Will hopefully fix in the next couple of days.

[2016-05-13 21:02] czarandy opened #9 "Break up tournaments.json"
This file is too large so it's hard to view any changes to it. I think we can break it up into one file per tournament.

[2016-05-14 09:25] OdinFK commented on #9
Can you wait a little with this? I am currently consolidating the player names and that is much more easy with one big file.

Also I do believe that the database is now as complete as it could be (1996 PT results for 65+ finishes are not going to show up in the foreseeable future for example) so I don't foresee many changes other than adding PTs in the future.

[2016-05-14 11:12] mlnmln commented on #9
@OdinFK It's hard to review changes and getting a proper `diff` in a file as big as it is now. People may still want to fix wrong player names or make small changes in the future. I could split the file quite easily.

[2016-05-14 11:23] mlnmln commented on #9
Sorry, missed that line in the first place. I'd suggest making a single commit for each changed player too have smaller chunks. In the future, search and replace over multiple files should be just a easy as single file.

[2016-05-14 11:41] mlnmln opened #10 "Clarify contributing Guidlines"
@czarandy I think the current state of the readme is outdated and not self-explanatory enough for non-developers. I would propose making things clearer here (prerequisites, development, testing, how to pr, ...). What do you think? I could make a new draft.

[2016-05-14 12:58] OdinFK commented on #9
@mlnmln Isn't that just atrocious for everybody? This way I have to make over 100 commits and you have to check all of them. I know it is not ideal to do everything in one, but considering that there is basically a bunch of noise in the data, and even if I did a few mistakes my update is guaranteed to reduce a lot of that noise, it seems way less annoying to do it this way.

I can include a list o

[2016-05-14 13:31] mlnmln commented on #9
Ok. wow, did not realize the scope of your ongoing changes.

If making so many commits is too cumbersome, then I'd suggest you just make sure that the new JSON files are still valid and keep working as carefully as you already do.

Sure thing :)

[2016-05-14 13:43] OdinFK commented on #9
Yeah, Americans and their fetish for middle initials. Quite annoying...

For reference at the bottom I included the names, that I did not change, because I was not completely sure, if these are different persons or duplicates.

There are a three other specific case, too.

*sebastian aljiaj / sebastian thaler
This is the same person. Sebastian changed his last name at some point. So just change Alj

[2016-05-14 14:58] mlnmln commented on #2
I think this should probably go into the readme or the project's wiki to have a guideline for future contributors. What do you think?

[2016-05-14 14:59] #5 closed

[2016-05-14 15:19] #10 closed

[2016-05-14 15:21] czarandy commented on #2
Yeah, although I'm not completely sure about it, since it seems like some of the recent names aren't really better (maybe they are just dropping the accents for no reason?)

[2016-05-15 15:54] OdinFK opened #15 "About various things I'd like to do"
Hey,

after the latest fix to the tournaments.json the database should be in pretty good shape, at least basically as good as it gets without help from the concerned people. That means that the site is pretty much finished in the current scope of the project.

I would love to do further things, but I don't know what your ideas for this site were, Andy. Also I'm mostly incompetent when it comes to

[2016-05-15 16:15] mlnmln commented on #2
Agreed. We should probably not rely on the assumption that wizard's newest standings are the most correct ones.

@OdinFK
What do you think? Under which rule should we do names and urls of players with special characters in their name?

[2016-05-15 16:15] czarandy commented on #15
I really wanted to include GP results, but there are so many more of them I don't see myself having the time to do it. But that would be a really cool thing to have.

Do you have any ideas?

[2016-05-15 16:18] #8 closed

[2016-05-15 16:27] OdinFK commented on #15
GPs would indeed be super cool. That was my first inclination, too, and then I updated those PT players. Now I think it is basically impossible to have a somewhat clean database for that, so I thought more of ways to go deeper on the PT related stuff.

*I think it would be cool to link coverages, and where possible the original coverage, not the garbage that Wizards made out of them. Similarly I t

[2016-05-15 16:34] OdinFK commented on #2
I would do it like this

For all players that come from countries, that use the Latin alphabet
*spell the name in the native way
*in the url replace all special characters with - (that's how it is done atm)
*configure the search field in a way that it accepts the base characters instead of the special character (entering martin juza should display martin jůza)

For Japanese/Russian players
*spell

[2016-05-16 00:29] czarandy commented on #15
Yeah, I wanted to have a "top ranking" thing. Especially around HOF voting season it seems like a popular discussion topic. The downside is without GP stats you are kind of missing a big part of it.

Yes, you can add extra data and it will be ignored. It will increase the size of the data we send, but that's probably not significant unless you are adding huge amounts.

[2016-05-16 08:36] OdinFK commented on #15
I agree that having GPs would be great, and all the Pro Points look wrong without them. Of course we could just do it, but there are quite a few things to consider
*The amount of data will grow about tenfold, this will impact the site for the user I suppose
*For players like Shuhei Nakamura his personal site will look very cluttered with ~200 events instead of ~50
*Early GP standings are incorrect

[2016-05-16 10:53] mlnmln commented on #9
@czarandy @OdinFK

I think we should still split up the `tournaments.json` and move the notes from @OdinFK to a separate issue for further reference. Ok?

[2016-05-16 11:09] mlnmln commented on #2
+1

I think, having url of http://www.mtgptresults.com/player/rapha-l-l-vy would be better thant http://www.mtgptresults.com/player/rapha-l-l-vy as it now. However the links are out there and we would need a migration strategy to not break them. I'm fine with sticking to the current pattern.

+1

This seems fine, but would lead to some additional meta data for the players.

[2016-05-16 11:47] OdinFK commented on #2
What's the difference between the spellings of raph levy? They seem to be the same.

[2016-05-16 11:49] OdinFK commented on #9
This breakup thing still bugs me. Currently working on the files... Will the tournaments.json still exist in its current form?

[2016-05-16 11:57] mlnmln commented on #2
Copy + paste error. :)

Should be http://www.mtgptresults.com/player/raphael-levy which is more human-readable.

[2016-05-16 12:01] mlnmln commented on #9
@OdinFK
I won't do anything here without your consent, no worries.
I thought now that you made two major updates, we could further pursue this issue.
What would be a good solution for you from an editor's perspective?

[2016-05-16 12:05] OdinFK commented on #2
Sure, I agree that this is better. Is there a way to convert this stuff without tons of additional work?

[2016-05-16 12:07] OdinFK commented on #9
We should just agree on a day on which the split will happen. I will reign myself and not do edits on that day, then.

[2016-05-16 16:00] czarandy commented on #15
I agree we'd have to change the way we display data if we actually have all the GPs, because, as you say, it will be ~10x the data size. One idea I had was to only include GP results that get any pro points. That should greatly reduce the size of data.

[2016-05-16 16:04] OdinFK commented on #15
I like this idea. It sucks that we cannot display how many GPs a player has played, but it solves most of the other problems relatively well.

[2016-05-16 16:24] czarandy commented on #2
It should be possible to convert automatically using something like this:
https://github.com/FGRibreau/node-unidecode
One option would be to drop the explicit ids from tournaments.json, and
have them auto generated based on the names.

On Mon, May 16, 2016 at 5:05 AM, OdinFK <notifications@github.com> wrote:

[2016-05-16 17:17] OdinFK opened #20 "Twitter"
I registered a Twitter account for mtgptresults. I hope this is okay with you. For the last couple of updates I have tweeted them from my Twitter account, but I'd prefer it if there is a Twitter account for this.

The motivation for a Twitter account is twofold in my opinion
*people can follow it and be aware of udpates to the site
*if this site becomes more popular (as it should be) then people c

[2016-05-16 21:58] czarandy commented on #9
Ok, I split up tournaments.json:
https://github.com/czarandy/mtgptresults/commit/807450c1c474c1e335b04cc26464e0b7d04174c5

Each tournament just has its own file, so it should be pretty clear how to edit.
If you have a lot of conflicts with other changes you are doing, you can send me your tournaments.json and I can split it up into the relevant changed files.

[2016-05-16 21:58] #9 closed

[2016-05-16 22:42] czarandy commented on #20
Sure, if you want to manage the twitter stuff :).

[2016-05-17 01:00] mlnmln commented on #15
@czarandy @OdinFK

I'm going to hijack this issue as well, bear with me.

* I would like to see to that this project gets some traction.
* I'm an experienced frontend developer with a design and mtg background.
* I brought this project to @OdinFK attention as he seems to be a natural fit.

As for future development here is what i can offer:

* I should be able to develop _small to medium_ new feat

[2016-05-17 05:39] czarandy commented on #15
I'm happy with all of that. Any improvements you want to make are definitely appreciated and I can probably help to some extent depending on how much free time I have.

[2016-05-17 07:55] OdinFK commented on #2
I've just been made aware, that there are two different Paulo Carvalho. Fortunately one seems to be from Brazil and one from Portugal, so I can find out who is who. How do we want to deal with this? Here? In the future? (affects how conversions need to be done if you want to do them automatically)

[2016-05-17 11:44] mlnmln commented on #20
Seams great!

If people comment on wrong data, I would recommend letting them raise an issue here or doing it yourself. That way we have actionable small issues and won't miss anything by accident.

[2016-05-17 12:08] OdinFK opened #23 "Add different tournament types"
There are quite a few things to do still, but we do want to have other PT related tournaments at some point, right? How do we want to distinguish the different tournaments? Do we put a marker in each tournament file that goes like `"type": "pt"` and do according things for other tournament forms? I ask because if we do not distinguish and we add other forms of tournaments, then the Top 8 count etc

[2016-05-17 15:00] czarandy commented on #2
Yeah that's a potential problem. We could list them as Name (Country) for
such cases. Hopefully we don't have two people with the same name from the
same country :)

On Tue, May 17, 2016 at 12:55 AM, OdinFK <notifications@github.com> wrote:

[2016-05-17 15:06] czarandy opened #24 "Autogenerate player ids"
Having player ids be manually set causes some problems: it's easy to make typos and we are not super consistent with how we generate them from names. We should change it to auto-generate the ids from the names. We just need to decide on the rules for doing so.

[2016-05-17 15:08] czarandy commented on #23
Good idea. We can probably just use subdirs for this, e.g. data/pt for PTs, data/gp for GPs, etc.
I can change the build script to add the type.

Are you planning on adding another type of tournament? I'd rather wait till we have some other data to add before doing these changes :).

[2016-05-17 15:30] OdinFK commented on #23
Primarily I would like to have the WMCs/Worlds team competitions and the modern Worlds in there.

As a kind of personal obsession, I would like to add the other events that were associated to the PTs (Junior Division and that kind of stuff). It is not all that important obviously, but on the other hand not even Wizards has that on their website, so it is kind of showing off, that we are going a de

[2016-05-17 20:53] OdinFK commented on #20
I'll look into that tomorrow. I use Twitter frequently, but I have absolutely no clue about shared accounts, either. It's a thing that usually just does not come up.

[2016-05-18 12:24] OdinFK opened #26 "Worlds can't be read completely in the search suggestions"
Currently the Worlds are named 'World Championships (xxxx)'. The problem is that there are too many Worlds for them to all be displayed in the search field. If it was 'xxxx World Championship' (the American naming convention afaik) then this results in a more convenient way to find specific Worlds.

Just a very minor thing obv, but I think it thus makes sense to rename these tournaments (don't kno

[2016-05-18 13:17] OdinFK commented on #20
I didn't know Tweetdeck before. This seems to be the advanced user interface for Twitter. It wastes much less space than normal Twitter, so it way probably a 'good to know' thing anyway.

Tweetdeck has the functionality we were searching for indeed. I have given both of you contributor rights. Can you please check that I granted rights to the correct persons aka your accounts? I will grant you adm

[2016-05-18 14:54] czarandy commented on #20
Thanks, it's the right account for me. Looks like it's working.

[2016-05-18 15:00] czarandy commented on #26
It's a good idea. Right now the search box just does Name (Year) for all tournaments. We would need some way to know that for worlds we want Year Name but for other PTs we still want Name (Year). Hmm

[2016-05-18 21:29] mlnmln commented on #20
Works perfectly, thanks!

[2016-05-18 22:04] #20 closed

[2016-05-19 10:09] OdinFK opened #28 "To Do (Editing)"
I will update this list as I go along. At the moment these things need to be done

convert names to correct form -- juza, sochurek, dezani, oberg, ...

add reports Rome 98-99 to Battle for Zendikar

[2016-05-19 14:45] OdinFK opened #30 "New York 98"
Currently we do not have the full final standings of that PT, because they are unavailable on will be for the forseeable future. I even asked Rich Hagon about them and he submitted a formal databank lookup request at Wizards, but no success. I would like to add provisional standings for that tournament beyond place 66 anway, and would like what you think about it.

My reasoning?
The top 64 are rea

[2016-05-19 16:37] czarandy commented on #30
Yeah that sounds like a good idea. I agree it's better to have some data even if it's slightly incorrect. 

On Thu, May 19, 2016 at 7:45 AM -0700, "OdinFK" <notifications@github.com> wrote:

Currently we do not have the full final standings of that PT, because they are unavailable on will be for the forseeable future. I even asked Rich Hagon about them and he submitted a formal databank lookup req

[2016-05-19 17:20] mlnmln opened #31 "Use pre commit hooks to run json lint"
@czarandy

We should not have non-valid JSON in our repo. What do you think of using st like https://www.npmjs.com/package/grunt-githooks or https://github.com/observing/pre-commit check if our JSON is valid before committing?

[2016-05-19 17:28] mlnmln commented on #15
Awesome.

I think we should split the remaining feature requests from @OdinFK and me into separate issues and close this one. That way we can determine their priorities better and won't have one large "thread" that gets never closed.

[2016-05-19 17:29] mlnmln commented on #2
See #24.

[2016-05-19 17:29] #2 closed

[2016-05-19 20:24] czarandy commented on #31
Sure, can't hurt. Added a hook to run jshint and jsonlint:
https://github.com/czarandy/mtgptresults/commit/5d77d9fd80de1c3083c5a3d1705726f8995944b0

[2016-05-19 20:24] #31 closed

[2016-05-20 07:25] OdinFK opened #33 "Search function broken"
The search is not working for me right now. I also saw that I did not enter a name for the 96th place finisher. Not sure if these things could be related, but I pushed a correction. Maybe see first if this mistake indeed broke it.

[2016-05-20 09:28] mlnmln commented on #33
@OdinFK

this is likely an error in our JSON files.
JSON is very strict about commas, quotes etc, ...

We recently added a tool that checks if our JSON is valid.

In your console run

[code]

then

[code]

which should tell you any errors in our JSON files.

With our recent git hook update, The check should happen automatically before any commit.

[2016-05-20 09:36] OdinFK commented on #33
I already check all the files with jsonlint, because I made errors in one file previously and Andrey advised me to do that.

The files are correct, however in the NY98 file the last entry currently is this

        {
            "id": "Hannes Kaplan",
            "name": "",
            "propoints": 3
        }

Json is fine with it, but my conjecture at this point is, that having a no-name breaks

[2016-05-20 09:50] #30 closed

[2016-05-20 14:04] czarandy commented on #33
Yes, because of a quirk of the typeahead code, having a name that is empty string breaks it completely :(.

[2016-05-20 14:05] czarandy commented on #33
I pushed your latest change that fixes the empty name, so it is fixed now.

I think the right way to fix this is https://github.com/czarandy/mtgptresults/issues/24. If we autogenerate ids we can have that part fail if the name is empty string or invalid in some other way.

[2016-05-20 14:05] #33 closed

[2016-05-20 17:18] OdinFK commented on #15
Yes, that makes sense.

I think the first feature, that should be implemented is having best player lists in various categories. Clicking on Winners in the player overview should yield a list of players sorted by how many PTs they won. Same for top 8 (probably only having players with at least 2 top 8). Same can be done for T16, participations, cash won, and Pro Points. I believe these features sh

[2016-05-20 18:00] mlnmln opened #35 "Add GP Results"

[2016-05-20 18:01] mlnmln opened #36 "Add links to coverage"
#15

[2016-05-20 18:02] mlnmln opened #37 "Add player meta data"
#15

[2016-05-20 18:03] OdinFK commented on #35
There are only about 500 of them. How hard can that be...

[2016-05-20 18:03] mlnmln opened #38 "Add associated events"
#15

[2016-05-20 18:03] mlnmln opened #39 "Add players page with top rankings"
#15

[2016-05-20 18:04] mlnmln opened #40 "Add deck lists"
#15

[2016-05-20 18:04] OdinFK commented on #36
Andy already took care of that, and I provided the links. Every PT that ever had a coverage has its coverage linked :)

[2016-05-20 18:07] mlnmln opened #41 "Develop page load strategy"
#15

[2016-05-20 18:08] mlnmln commented on #39
#15

[2016-05-20 18:09] mlnmln opened #42 "Add win percentages"
#15

[2016-05-20 18:11] mlnmln commented on #15
@OdinFK I created individual issues for each topic. That way we can better track progress, I think I got everything and this issue could be closed now. If i missed anything, feel free to open additional issues.

[2016-05-20 18:14] mlnmln commented on #42
@OdinFK
I agree that this is probably VERY hard to achieve, still awesome :)

@czarandy
I think it should stay in the backlog as a long-term goal. Could we agree on some labels/priorities?

[2016-05-20 18:19] mlnmln commented on #41
@czarandy
Given that we currently expose all data to the client, we could develop a strategy to only load the needed data for a particular route. Some kind of fake API like /:player-id/ /:pt-id/ etc, ...

Needs some thinking, but if we plan on adding a lot more data, we should plan accordingly.
Also having an API for 3rd party developers would be AWESOME. Currently probably out of scope.

[2016-05-20 18:20] mlnmln commented on #39
@OdinFK @czarandy
I agree that this should be one of our highest priorities. Effort/Result ratio seems good to me.

[2016-05-20 18:23] mlnmln commented on #36
Alright, didn't know. Will close. :)

[2016-05-20 18:23] #36 closed

[2016-05-20 18:25] mlnmln commented on #35
@OdinFK I read the conversation and know that it's going to be very difficult to implement. i just wanted to have an individual place for the topic were can agree on action. :)

[2016-05-20 18:28] OdinFK commented on #38
I consider this a medium priority right now. Having Worlds team competitions would be awesome, but we need to have a data structure and possibly even display "technology" to allow for teams. In the team PTs this part was skipped by just not using team names (which makes sense to me, given how janky most of them are), but countries are a different story. Would be cool to click on Wales and see in w

[2016-05-20 18:30] mlnmln commented on #38
We do have labels for issues, but only Andrey can set them I think.

[2016-05-20 18:34] OdinFK commented on #37
I would wait with this until I have finished adding all the NY98 players. A few new ones might be in there. Then a player metadata file should be generated from the tournament data files. When this is done all the names should be removed from the individual tournament files, too. This is information that should go into the metadata.

Havin Hall of Fame tags is something that I consider relatively

[2016-05-20 18:35] OdinFK commented on #35
Was just kidding. Totally fine to put that here.

[2016-05-20 19:35] czarandy commented on #37
Sounds pretty cool. What kind of lists do you want to have?

[2016-05-20 19:42] czarandy commented on #41
I kind of wanted to keep it simple and just have a static site.

Currently for the API you could just load the JS data files directly :).

[2016-05-20 19:44] czarandy commented on #39
I'll work on this. I'll make a "Players" page that will let you sort by the different columns so you can see the top by each metric.

[2016-05-20 19:50] czarandy commented on #42
Ok so I added both of you as collaborators. Now you can edit the labels and assign issues and whatnot :).

[2016-05-20 19:50] #15 closed

[2016-05-20 20:03] mlnmln commented on #41
I do agree that this is out of scope for now.
Let's close it and think about it, when it becomes an actual need, not an hypothetical one.

[2016-05-20 20:03] #41 closed

[2016-05-20 20:11] OdinFK commented on #37
The very basic things would be Wins / Top 8s / Top 16s. In articles they sometimes also refer to T32/T64. However, money finishes might be more interesting than just continuing down the TX, T(X*2), T(X*4) lane.

Pro Points would fill an interesting hole. You can find the total Pro Points easily on the Wizards page of course, but we only have the Pro Points from the Pro Tour right now and that migh

[2016-05-20 23:14] czarandy commented on #37
That sounds like #39 will take care of it for the lists. So this is more about including other metadata about players. We can then include it on the player page. We could also include tags in lists like [HOF] [PT Top 8] [PT Winner] etc.
That would be nice when scanning lists so you could see how "stacked" a top 8 is for instance :)

[2016-05-21 18:35] mlnmln opened #46 "Split Gruntfile into multiple files"
@czarandy

Our Gruntfile is getting too large. We should split it into separate files using st. like https://www.npmjs.com/package/load-grunt-config

I could do this on my own, but wanted to check with you first.
What do you think?

[2016-05-21 20:44] czarandy opened #47 "Add contributors to package.json"
I've added a blank contributors section to the package.json. @mlnmln @OdinFK Do you want to add yourselves to it?

[2016-05-21 20:46] czarandy commented on #46
Sure, that seems good.

[2016-05-21 20:47] czarandy opened #48 "Update package versions"
Right now we have some pretty old versions of grunt, react, etc. We should consider updating those but we'll need to watch out for any incompatibilities.

[2016-05-22 09:33] OdinFK commented on #24
What do we need to do more specifically? I think the following steps are necessary

For every player entry in a given tournament file
(1) Generate an 'ID' of the 'player name' and replace the current 'ID' with the new one
(2) Copy the 'ID' and 'player name' into the playerdata.json
(3) Remove the 'player name' from the entry in the tournament file
(4) Return a list of the added players to the cons

[2016-05-22 11:24] mlnmln commented on #47
@OdinFK just decide for yourself what information you want to publish about yourself.

[2016-05-22 11:38] mlnmln commented on #24
We should be able to use st. like https://github.com/FGRibreau/node-unidecode to generate passable ids as @czarandy has stated. I think ids should be as human-readable as possible, as we also use them as part of the players route on the site.

Not really sure how I feel about this. The player id is a derivative from the player's name. And I don't like having duplicated data in our repository. If t

[2016-05-22 14:20] #47 closed

[2016-05-22 14:28] #46 closed

[2016-05-22 14:30] czarandy commented on #24
Actually I thought we could keep just the *names* in the tournament json files. The ids would be autogenerated based on the names. The advantage is that it's easier to add new tournaments (since wotc is just giving you the name in their standings) and we avoid any duplication of data.

For extra player data we can still use the names and have a file that includes that information keyed on name, th

[2016-05-22 14:33] OdinFK commented on #24
My reasoning behind having an ID in the tournament file, and the name in the playerdata file was the following. Take Martin Juza for example. Currently we write him Martin Juza. Suppose we want to change his name to Martin Jůza (native spelling). Wouldn't it be much more complicated to change that? Do I have it wrong, or would we have to change Martin Juza in all tournament file in your version?

[2016-05-22 14:46] czarandy commented on #24
It's easy enough to rename in all the files, like this:
  `find . -type f -exec sed -i "s/Martin Juza/Martin Jůza/g" {} \;`

[2016-05-22 15:56] mlnmln commented on #24
@czarandy We should respect that not everyone is comfortable in the command line. But I second that doing search and replace over multiple files is as trivial doing only one file.

[2016-05-23 07:35] mlnmln opened #53 "Merge Mike Pustilnik, Oliver Polak-Rotman and Olle Rade"
https://twitter.com/Quick_MTGStat/status/734502018707009536

[2016-05-23 08:55] OdinFK commented on #53
fixed. is in the open pr

[2016-05-23 08:55] #53 closed

[2016-05-23 11:13] OdinFK opened #55 "Add disqualified players"
Do we want to list DQed players? Wizards eliminates them from the final standings, but I think they belong in there as they participated in the tournament at least for some time. I could just add them. The problem however is that they should not be ranked.

Do you think we should have them?

I don't think implementing this would be much work. I would add a line

`"rank": "DQ` to the .sjon files.

[2016-05-23 13:45] czarandy commented on #55
Sure, go ahead :)

[2016-05-23 13:45] czarandy commented on #55
I'll update the display code once you add the DQed players

[2016-05-23 14:03] mlnmln commented on #55
I think this topic is kind of delicate and we need to be 1000% sure that the information about the affected players is correct.

I'd rather not have it in the site for now. But If both of want it and think it is important, I can live with that.

[2016-05-23 14:11] OdinFK commented on #55
I agree, that this should not be handled lightly. A player suspiciously missing from the final standings might not be good enough. However, in many cases there is this

http://magic.wizards.com/en/articles/archive/event-coverage/worlds-2009-round-6-disqualification-2009-11-19
http://magic.wizards.com/en/events/coverage/ptdtk/player-disqualified-pro-tour-dragons-tarkir-2015-04-11
http://magic.wizar

[2016-05-23 15:16] czarandy commented on #39
Ok, I have done. For some reason github isn't updating though, so I'm going to wait a bit to see if it fixes itself :/

[2016-05-23 17:00] czarandy commented on #39
Ok looks like it updated. http://www.mtgptresults.com/rankings/total

[2016-05-23 17:00] #39 closed

[2016-05-23 18:33] mlnmln commented on #39
This is great work, thanks! 🎉

I would would like to add some minor points:

* The default ranking should be either Wins or Top 8s, as these are major criteria of success.
* We have a slight jump in the column width as the sorting icon gets added and removed.
* Numbers should be right-aligned so it is easier to compare digits.
* At mobile we could have a fixed table header and first column, also t

[2016-05-23 19:40] OdinFK commented on #39
Totally awesome!!

I think Top 8s is the best ranking, because this is generally accepted as the ranking of greatness in Magic. I would really like one relative ranking as all the currently ranked stats improve with the numbers of attendances. Attendances / Top 8 for all players with at least 10 attendances would be great I think.

[2016-05-24 04:15] czarandy commented on #39
Ok I switched it to default to top 8. I'll leave the style tweaks to you @mlnmln

I also added top 8/total for players with >= 10. I don't know if this is the best "non strictly increasing" ranking, but I guess it's fine. Something like T64/total might be a better indication of "consistency" if that's what we're looking to capture.

[2016-05-24 11:12] OdinFK commented on #55
@czarandy Could you add the missing players from PT 1-3 and tag them `"rank": "P"` ? I assume you have a more of efficient means of doing that than me (adding them all in manually). I would afterwards check the data for consistency.

@mlnmln Is it okay for you to add DQed players in cases where Wizards mentioned the DQ in the coverage? The likelihood of an error is very close to zero this way. Or

[2016-05-24 12:12] mlnmln commented on #55
@OdinFK

I'm all for calling out cheaters. Pretending they never participated like WOTC does in their standings is certainly not the right thing to do.

I just wonder if this information adds any value to the site. Or lets the affected users stand out too much in the results in comparison to the others. If we'd just display them at the bottom of the standings as "unranked" I'd be fine with that. T

[2016-05-24 12:29] mlnmln opened #56 "Improve player rankings table"
#39

[2016-05-24 18:03] czarandy commented on #48
I updated the versions of all the dev packages. The prod packages are harder because we actually have to change some of the code since the react router apis have changed quite a bit. So it's probably best to just leave it as is for now.

[2016-05-24 18:04] czarandy commented on #48
I also switched to using babel for the jsx transform + eslint for the linting. You will need to 'npm install' to get the build to work. If you have any problems with conflicting packages, try removing all the old ones first, something like this should work:
cd node_modules
npm uninstall *
npm install

[2016-05-24 18:59] mlnmln opened #58 "Update twitter profile description"
There are some words missing. Should be 'include' them. I would also add a line that people should tweet as errors or additions. Would do it on my own, but I somehow can't edit the profile via tweetdeck.

[2016-05-24 19:02] mlnmln commented on #55
@czarandy DQs are not shown in the tournaments of a player, e.g. http://www.mtgptresults.com/player/jeremy-dezani

Is that intentional?

[2016-05-24 19:11] mlnmln commented on #28
@OdinFK is this still active?

[2016-05-24 19:16] mlnmln commented on #26
A quick fix would be if just made the search box wider.
That way we don't have to make any exceptions for worlds.

[2016-05-24 19:19] mlnmln commented on #24
@czarandy Who is going to work on this? You or me?

[2016-05-24 19:22] mlnmln commented on #37
That would be nice when scanning lists so you could see how "stacked" a top 8 is for instance :)

I like this idea in particular!

@czarandy How do we progress here?

[2016-05-24 19:28] mlnmln commented on #48
I like it. 👍

Updating worked flawlessly for me after I uninstalled all old packages as you described.

[2016-05-24 19:49] OdinFK commented on #58
Apparently only the owner can change the profile. Added the missing 'include' and added the line about tweeting error.s

[2016-05-24 19:49] #58 closed

[2016-05-24 19:51] OdinFK commented on #28
Not really. I don't think we need a thread telling me to add tournament reports :D

[2016-05-24 19:51] #28 closed

[2016-05-24 19:54] OdinFK commented on #37
I would just color-code the lines with Hall of Famers. Having a bunch of tags will probably make it look cluttered, but I would not want to stop you. Try it by all means. If we don't like it it can be changed.

[2016-05-24 20:47] czarandy commented on #26
Sure

[2016-05-24 20:47] czarandy commented on #24
I will do it

[2016-05-24 20:50] czarandy commented on #37
I'll work on a basic version of this (HoF for now)

[2016-05-24 20:52] czarandy commented on #55
Ah yes it was incorrectly showing the numeric index for those. I have fixed it now.

[2016-05-24 22:58] czarandy commented on #24
Ok so I made it generate ids from player names. the json files no longer have ids in them. This changed a few ids and thus the urls, but they should all be better, e.g.: http://www.mtgptresults.com/player/raphael-levy

I skimmed over all the changes and they seemed fine. The main benefit is that now it's a lot easier to add players/tournaments. I can now add the missing players from the first thre

[2016-05-24 22:58] #24 closed

[2016-05-24 23:15] czarandy commented on #55
Ok I've added the unranked players from the first three PTs. One interesting consequence is that PVDDR now has the lead in T8/Total :). @OdinFK Let me know if I need to do anything else here

[2016-05-25 19:28] czarandy commented on #55
I think this is done after #59 ?

[2016-05-25 19:28] #55 closed

[2016-05-26 06:55] mlnmln commented on #24
This is great, thanks! 👍

[2016-05-26 07:03] mlnmln opened #60 "Shota nominally received 4 points for 64th at Ams '10?"
See https://twitter.com/Quick_MTGStat/status/734929788897497088

I don't if this is still an issues an requires action.

Could you handle this and answer that guy on twitter?

Thanks!

[2016-05-26 07:04] mlnmln commented on #37
I'm going figure st out that doesn't clutter the standings too much.

[2016-05-26 16:17] czarandy commented on #60
Fixed by #61

[2016-05-26 16:17] #60 closed

[2016-05-27 00:17] mlnmln opened #65 "Switch github profile"
In an attempt to separate my professional life from my private, mtg-related projects better, I created a separate GitHub account for that. Please move my contribution status from mlnmln to mtgmagicalhack. Thanks.

[2016-05-27 03:25] czarandy commented on #65
Ok, I have done this.

[2016-05-27 03:25] #65 closed

[2016-05-27 17:44] #26 closed

[2016-05-27 20:25] OdinFK opened #66 "Improve player view on mobile"
@mtgmagicalhack You have done a wonderful job in making the frontpage mobile friendly, and the way individual tournaments are displayed is good, too (also your work?). Do you think you could give the individual player view a similar treatment?

[2016-05-27 21:41] mtgmagicalhack commented on #66
Sure thing. Will do.

However, I have to do some thinking before I can come up with st better for tabular data.

[2016-05-28 12:21] mtgmagicalhack commented on #56
@czarandy @OdinFK

Ok currently pondering.

We basically can take 2 routes here.

1.

Linearize tables on mobile. Left align labels. I did some work a local branch.
https://github.com/mtgmagicalhack/mtgptresults/tree/responsive-tables
See attachments how it is going to look.

<img width="367" alt="screen shot 2016-05-28 at 14 03 59" src="https://cloud.githubusercontent.com/assets/19599753/15627249

[2016-05-28 14:40] czarandy commented on #56
What if we do option 2 but we fixed the player name so it's always visible as you scroll?

[2016-05-29 09:15] mtgmagicalhack commented on #56
I like this idea in general, but the player field is always going to be the widest. This wouldn't leave much space for scrolling. How about we'd just fix the rank column?

[2016-05-29 12:41] czarandy commented on #56
We can just set it to a smaller width so the player names wrap to multiple lines. I think it's better this way so that when you scroll right you can tell who actually has the given value.

[2016-05-29 14:11] mlnmln commented on #56
👍 I'll try that!

[2016-05-29 14:11] mtgmagicalhack commented on #56
👍 I'll try that!

[2016-05-31 11:25] OdinFK commented on #56
Looks pretty good right now. Maybe make the player names always visible as czarandy suggests. On a related note, does it make sense to keep the table header always visible? It's relatively obvious which column is for what, so it might not be necessary, but generally I like to always see which is what. Would also make sense for the non-mobile version.

[2016-06-03 06:54] OdinFK opened #69 "David Humpherys"
Can one of you replace all the instances of David Humphreys with David Humpherys. Might be counter-intuitive, but the name is not Humphreys. Could do it myself, but it is probably one command on your linux command lines, and would be 50 individual edits for me.

[2016-06-03 18:04] czarandy commented on #69
Ok, I have done this and pushed the changes out :).

[2016-06-03 18:04] #69 closed

[2016-06-07 08:14] OdinFK commented on #37
I did a final pass over all PTs. Again I fixed a few hundred entries. I don't think there is much incorrect data left, at least not much, that we will find on our own. Therefore I think this would be a very good time to create a player metadata file from the tournament files.

I don't know how you envisioned doing this, but my idea would be to have a playermetadata.json file, and a script, that ad

[2016-06-07 19:41] czarandy commented on #37
I'll try to get this done soon

[2016-06-08 15:03] czarandy commented on #37
Ok so I made a basic version of this. There is a 'players.json' file. It gets filled in with players from all the tournaments listed. You can run 'grunt metadata' to have it update the file and it will print out any names that were added/removed. So this is an easy way to check when adding a new tournament whether the names make sense. Separately you can edit the file and add any metadata. I added

[2016-06-09 08:25] OdinFK commented on #37
Looks good. Can we close this issue now?

[2016-06-09 08:31] OdinFK opened #74 "Nationality"
Adding nationalities to the metadata file is quite easy manually (also slow, but it works). What format do we want to use for that, though? Do we write the name of the country out in full, or do we use 3 letter country codes? (2 letter is theoretically possible, but 3 is more common and more legible)

I'd prefer using country codes as it will probably lead to more consistency. The country code can

[2016-06-09 15:10] czarandy commented on #74
Sure, we can use the 3 letter codes: https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3

[2016-06-09 15:10] #37 closed

[2016-06-13 10:09] OdinFK opened #77 "Miscellaneous stats"
I believe it would be cool to have a site with miscellaneous stats about the Pro Tour, things we can easily derive from our database. Things to include

* number of PTs held
* number of individuals that have played PTs
* combined attendance of all PTs
* number of attendances averages (arithmetic mean / median / mode)
* total number of Pro Points awarded
* total amount of cash awarded

There is cer

[2016-06-13 14:29] czarandy commented on #77
We can definitely have a page that lists all this :)

[2016-06-14 13:19] OdinFK commented on #74
Wizards mostly uses the standard codes. For the UK however they use the FIFA codes
NIR = Northern Ireland, WAL = Wales, SCO = Scotland, ENG = England
We have to keep that in mind when we converting country codes to country names.

There are also some obselete codes like SCG (Serbia and Montenegro) but I try to replace these with adequate country codes, so there should not be any of these in the pl

[2016-06-15 06:29] OdinFK opened #79 "Players with identical names"
Some players have identical names. In a few cases they can be distinguished by their origin, but in some cases we have no way to distinguish them at the moment. I think we should collect those names in case we ever find a source that helps us sort them out.

Currently known
* Yuki Murakami / Yuuki Murakami (JPN) also Yuu Murakami

Players that can be distinguished by nationality
* Pedro Carvalho (

[2016-06-18 09:27] OdinFK commented on #74
We have nationalities for almost all top players now, and maybe 40% of the rest. I think that should be sufficient to add nationalities to the player info boxes.

The next step after that would be to make the nationality link to a site with the top players of that country.

[2016-06-22 21:54] czarandy commented on #74
I added the nationality & hof status to the player pages: http://www.mtgptresults.com/player/jon-finkel

[2016-06-23 19:32] OdinFK commented on #74
That's awesome!
Could you put the hof status into the player rankings as well? Either by giving their text a different color or by adding a background color. (I still don't think tags work as well here) I am asking because I think it can be only days (a few weeks at most) until the Hall of Fame ballots will be sent out, and the site will be way more helpful if it provides a good overview over stat

[2016-06-24 04:34] czarandy commented on #74
I colored the hof players in the rankings red.

[2016-07-07 20:52] OdinFK commented on #42
I just noticed, that final standings as Wizards shows them include match points these days. Could one of you adjust the crawler that fetches the results from the PT page in such a way that it includes the match points of each player?

It should automatically include match points as "points", and set "played" to 16 for all players that have 12 or more points, and 8 for all other players.

In the be

[2016-07-07 23:27] OdinFK opened #85 "Teams"
I just added teams to the players of PT Shadows over Innistrad. At the moment this does nothing of course, but this could easily be changed. I will need to do some manual work to add teams backwards, but you as you know this doesn't scare me. Just needs to be displayed in a reasonable way.

[2016-07-11 06:55] mtgmagicalhack commented on #77
+1

I think it would be great to have aggregated stats on the homepage. It would give a first time user more context. The stats could be used as intro to points to other pages (e.g. total cash -> ranking by cash, etc.)

[2016-07-11 06:56] mtgmagicalhack commented on #42
I'm going to update the parser.

[2016-07-11 07:01] mtgmagicalhack commented on #56
I did some more research. Almost every UI library I look at had a dependency to a higher react version. I think we should resolve the prod packages of #48 first. Other than that https://facebook.github.io/fixed-data-table/ looks promising for out tables.

[2016-07-12 02:55] czarandy commented on #56
FixedDataTable is ok but it has some issues (e.g., scrolling with arrow keys doesn't work). I think this one is maybe better: https://github.com/bvaughn/react-virtualized

Though both of those require knowing row heights, which can be awkward with variable player name lengths

[2016-07-13 19:01] OdinFK commented on #74
I wonder if it we should have flag symbols for the players on the Pro Tour pages? (either before or right after the player name) Not exactly sure about this. What do you think?

[2016-07-13 21:37] czarandy commented on #74
That seems cool. Do you know of a place to get all the flag images?

Sent from my iPhone

[2016-07-15 07:22] OdinFK opened #91 "Parser and apostrophes"
Our parser always gets irritated by apostrophes. For example "Iyanaga, Jun'ya" in the standings will become "Jun Iyanaga" / jun-iyanaga. Is one of you able to improve this?

[2016-07-15 12:26] mtgmagicalhack commented on #74
+1

https://github.com/lipis/flag-icon-css

[2016-07-15 14:50] czarandy commented on #74
@OdinFK I noticed some of the nationalities you added are not valid codes. For example: SCO, ENG, WAL, NIR, DIN.

I am using the ISO list: https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3

[2016-07-15 14:55] OdinFK commented on #74
I know. DIN sounds like a mistake, but the other ones are the FIFA codes for the UK. Wizards uses them, too. We could also just use GBR for all of them, but then the user would not see for which country the person would play in the WMC.

[2016-07-15 15:04] czarandy commented on #74
Oh, I see. I can manually add them as countries.

[2016-07-15 15:05] czarandy commented on #74
http://www.mtgptresults.com/tournament/pro-tour-shadows-over-innistrad-2016

[2016-07-15 15:06] OdinFK commented on #74
Cool! Maybe flag before the name would look more orderly, though?

[2016-07-15 15:16] OdinFK commented on #74
Perfect!!

[2016-07-15 15:16] czarandy commented on #74
I changed it to have the flag first and I fixed a couple nationality typos and added the UK codes.

[2016-07-15 15:17] czarandy commented on #74
Shall I also add country to the main page and the rankings page?

[2016-07-15 15:20] OdinFK commented on #74
I'm not sure. Leaning towards yes on the main page and no for the rankings. What do you think?

[2016-07-16 18:43] OdinFK commented on #91
Same problem exists for periods btw. 'Lucy, J. Sawyer' becomes 'J. Lucy'

[2016-07-20 06:42] OdinFK opened #97 "About page"
I would like to create an about page, mostly with information about methology, but maybe some information about the project, too. The structure would be very easy, basically an FAQ, although I will not call it so as there just are no /frequently/ asked questions.

Shall I just create a .json file, or what is the preferred way to realize this?

[2016-07-20 06:47] czarandy commented on #97
That info seems good to include in the README in this project.

[2016-07-20 06:50] OdinFK commented on #97
Right. I think eventually we should put that on the website then. Most people will probably not look at some file in a github repository.

[2016-07-20 14:27] OdinFK opened #99 "2HG PT San Diego"
The front page shows the Top 6 teams for PT San Diego 2007. Should only bge Top 4.

[2016-07-20 17:42] czarandy commented on #97
It's linked right from the main page, and the main view on github shows you the README, so it's not exactly a random file.

[2016-07-20 17:45] czarandy commented on #99
This is fixed now.

https://github.com/czarandy/mtgptresults/commit/ef5111651a94bc01f72959535fca5889f7ee0fbe

[2016-07-20 17:45] #99 closed

[2016-07-20 17:46] czarandy commented on #91
Do you mean for previous data or for new data we are parsing? @mtgmagicalhack has the latest parsing code so hopefully it doesn't have that problem going forward.

[2016-07-20 18:10] OdinFK commented on #91
I must admit that I don't really know, but I always come across these incorrect names. We can wait for PT Eldritch Moon and see if that problem persists, or maybe @mtgmagicalhack knows.

[2016-07-20 18:13] OdinFK commented on #97
I didn't mean this in any way as an attack. I just assume that many non-tech-affine people will presume the Github link goes to some coding stuff, that is basically Chinese for them.

[2016-07-20 18:25] czarandy commented on #91
Did you find them in PTSOI?

[2016-07-20 18:32] czarandy commented on #97
We can change the text that links to the github readme. I still think it makes more sense to include that info here, since this is the "behind the scenes" of how the site is generated.

[2016-07-20 18:33] OdinFK commented on #91
I couldn't really say, because it's been quite a while since I worked on that file. However, there are no players with a period or an apostroph in their name in that PT anyway.

[2016-07-20 18:42] czarandy commented on #91
Ok let's see if it comes up going forward. The older data I gathered with some older parsing code I had that was definitely not the best ;). Hopefully the new code doesn't have this problem.

[2016-07-20 18:42] #91 closed

[2016-07-20 21:47] czarandy commented on #48
I upgraded everything to the latest versions. This required some code changes since react-router changed substantially but I believe it's working now. https://github.com/czarandy/mtgptresults/commit/8dcf77850d45db5eda5588719dd200a4ebd632ec

[2016-07-20 21:47] #48 closed

[2016-07-22 07:16] OdinFK opened #101 "Navigation between Pro Tours"
Can we have a more convenient way of navigating between Pro Tours, that happened next to each other?

The most natural thing, that comes to my mind right now would be to have an arrow left and right of the PT title, and have that link to the previous/subsequent PT.

[2016-07-22 15:25] czarandy commented on #101
Good idea

[2016-07-24 18:06] mtgmagicalhack commented on #42
The parser now also includes match points.
https://github.com/mtgmagicalhack/mtg-standings-parser

I believe data conversion should be handled within this project.

[2016-07-24 18:22] mtgmagicalhack commented on #74
Great work everyone, thanks! Really adds value to site.

[2016-08-06 10:35] OdinFK opened #105 "Standings at Team Pro Tours"
Somehow the players at team Pro Tours are ranked 1,2,3,4,... now instead of 1,1,1,2,2,2,3,3,3,... or in the case of San Diego 1,1,2,2,3,3,...

[2016-08-07 02:42] czarandy commented on #105
Ah, sorry. This is fixed in https://github.com/czarandy/mtgptresults/commit/4f0632fe98463d0be444f5b070805fa143577fbb

[2016-08-07 02:42] #105 closed

[2016-08-08 09:59] OdinFK commented on #74
Where did you get the country flags that we are using? Maybe I could look around for the missing flags?

[2016-08-09 05:57] czarandy commented on #74
I got them from this: https://github.com/lipis/flag-icon-css

[2016-08-09 06:11] OdinFK commented on #74
From what I get that repository has flags for Scotland/Northern Ireland/Wales/England. The country codes seem to be SCT/NIR/WLS/ENG.

Should I change the code I use for Scotland and Wales? And do you know why England and Northern Ireland flags are not displayed if we are using the right code?

[2016-08-09 06:17] czarandy commented on #74
Oh yeah I will fix that.

[2016-08-09 06:23] czarandy commented on #74
should be fixed now

[2016-08-09 06:28] OdinFK commented on #74
Yes, it works nicely. Thanks!

[2017-07-23 11:41] OdinFK opened #118 "players.json not up to date"
The players.json does not include new player names as of PT Aether Revolt. Can this automatically be fixed or do I need to add the names in manually? (should be possible automatically if I remember correctly)

[2017-07-23 16:25] czarandy commented on #118
Fixed now.

[2017-07-23 16:25] #118 closed

[2017-07-25 13:45] OdinFK opened #120 "Commits to master"
Hi Andy, I think I just inadvertently committed a few of my updates to your master branch (I hadn't thought that was even possible). I don't think I added something damaging, but still apologies, I didn't mean to meddle with your branch.

There should be nothing to act upon here (I think). It's just to make sure that you have seen this. Please archive after you have seen this.

[2017-07-25 16:42] czarandy commented on #120
Yeah you can do it because I gave you push access. So it's not unexpected.

[2017-07-25 16:42] #120 closed

[2017-08-30 10:14] OdinFK opened #121 "PT Hour of Devastation"
Can one of you please parse and upload the latest PT?

[2017-09-01 00:07] quick-mtgstat commented on #121
I don't really have stuff well set up for git on my computer with my mtg stuff, but I did a parsing of PTHOU in a form that I think matches the json form you guys have been using here. Figured I'd upload it even if I didn't want to try to connect more sensibly and push it.

[pro-tour-hour-of-devestation-2017.json.txt](https://github.com/czarandy/mtgptresults/files/1268806/pro-tour-hour-of-devestat

[2017-09-01 15:47] czarandy commented on #121
Thanks for the data. I've updated it now.

[2017-09-05 18:19] OdinFK commented on #74
Is this actually still open? Looks like you implemented flag display/country code etc.

[2017-09-05 18:20] OdinFK commented on #121
Sorry to reopen this, but could you parse the PT HOU file for new players and put them into the players.json. Makes life so much easier for me :)

Also was there a way I can do that easily myself? If so I don't remember, but if you give me a hint I will try not to bother you with this the next time...

[2017-09-05 20:06] czarandy commented on #121
Oops, forgot to do that. All you have to do is run 'grunt metadata'. I've updated it now.

[2017-09-05 20:06] #121 closed

[2017-09-05 20:06] #74 closed

[2017-12-25 11:25] OdinFK opened #125 "Navigation from main to PT page"
There is a somewhat weird "problem" that when you click on a Pro Tour on the main page, you are directed to the page of that Pro Tour, but you do not necessarily land at the top of that page. What I believe happens is that somehow the website keeps track of what line you were looking at on the frontpage and does not reset that (or even keeps track of this), and then tries to show you the same line

[2017-12-31 18:25] czarandy commented on #125
Thanks, I fixed this in https://github.com/czarandy/mtgptresults/commit/1b88ec1f0165f38a75da4c1a6d696ef11267ff40

[2017-12-31 18:25] #125 closed

[2018-01-11 17:25] OdinFK commented on #38
I think I have an easy solution for this. Could we have a rider "Associated Events" next to "Player Rankings" on the main page? Clicking on this would lead to a page which is built like the main page, only that it shows all non-PT events. This should be very simple to implement, right?

Would be cool if one of you could do this for me. I have found final standings for most Junior PTs, and some of

[2018-01-11 17:41] OdinFK opened #128 "Sideboard Magazine"
A friend of mine has lent me a few of the very first Sideboard magazines. At that time they were basically a 32/64 page magazine, dedicated almost exclusively to the previous Pro Tour. I have taken pictures of all pages in some of the ones I have. (https://drive.google.com/open?id=11SSyk86XNRVr6btg05AZOjvPkxLNBcfP) I have a few more, and I also try to get hold of other issues.

In a way I think th

[2018-01-12 17:48] czarandy commented on #38
If you send the data then I can try to do this when I get some free time. You could just commit it into a new file in this repo somewhere (I can modify the format later).

[2018-01-12 17:53] czarandy commented on #128
Sure, that would be cool. I think we can have a link that will open it on the site in a photo viewer. LMK once the permission stuff gets resolved and I am happy to add it.

[2018-01-30 17:54] OdinFK opened #130 "Team size denominator"
Currently team sizes are "calculated" by querying the variables `team` and `team2hg`. However, this only allows for two- and three-player teams. Other tournaments used 4-player teams (Worlds), and 5-player teams (Atlanta).

Going forward it would make more sense in my opinion to replace the aforementioned varibales by one called `teamsize`. If the variable is set team size is the integer given in

[2018-01-31 15:23] OdinFK commented on #38
I have created files for every top-level/invite only tournament, that I could think of. This includes
-old Worlds
-new Worlds
-Junior Pro Tours
-Associated Pro Tour divisions (Classic & Teams)
-Invitationals

I think that is basically everything you could add other than the MOCS finals. Do we want that? Wouldn't be too much work.

If you want to work with this stuff, I have uploaded the files here

[2018-01-31 22:15] czarandy commented on #130
Good idea. I've changed it to just have a `teamsize` for team tournament in https://github.com/czarandy/mtgptresults/commit/f648e79c782d74824922bc252e9cc8effebd1b2d

[2018-01-31 22:15] #130 closed

[2018-02-05 15:46] OdinFK commented on #38
I have added the MOCSes to the aforementioned directory. There is everything online now, that I think qualifies as a top tier Magic tournament. Not in all cases the data is complete, but I think it would be very worthwhile to add an 'other tournaments' section now.

As a first step you could ignore the way the player view is constructed and just add the other tournaments to its own section. Should

[2018-02-15 14:16] OdinFK commented on #38
I've added the first five Masters. Somehow I forgot about those. I also found another Team Challenge from PT3. Including the missing events we will have 50 (!) new events on the site.

[2018-02-15 14:17] OdinFK opened #131 "PT RIX"
Can one of you parse PT Rivals of Ixalan please?

[2018-02-16 20:28] czarandy commented on #131
Sorry I've been really busy with work. I'll try to get to it soon.

[2018-02-18 19:07] czarandy commented on #131
Ok this is up now.

[2018-02-18 19:07] #131 closed

[2018-02-19 14:52] MarianoMolina opened #132 "Some players' T8/Total is 0%"
Found several instances:

David Mills
Ervin Tormos
Luis Salvatto

And there are others. This is in: http://www.mtgptresults.com/rankings/t8

And they obviously have some ammount of Top 8 so should be non-zero.

[2018-02-19 16:04] OdinFK commented on #132
Thank you very much for pointing it out. I will take a look at it tomorrow and try to find out about the systematic behind the error.

Andrew Brown is also 0%

[2018-02-19 17:35] czarandy commented on #132
It looks we only include the T8% if you've played in >= 10 PTs, to avoid the rankings being dominated by someone that T8ed their only PT.

[2018-02-19 17:35] czarandy commented on #132
We should change it to show something else instead.

[2018-02-19 17:43] czarandy commented on #132
Ok I made it more explicitly say "too few PTs" if it's <10.

[2018-02-19 17:43] #132 closed

[2018-02-22 09:52] OdinFK commented on #38
The aforementioned 50 events are all complete:
https://drive.google.com/open?id=1lA0aS8ECBC2LuX-cOuvMBIGwDMGHzMQ7   (same as above)

[2018-03-28 05:23] OdinFK opened #135 "Per event nationality"
I am currently working on National Team competitions of the old Worlds. In this context it came up again that several players have played for multiple countries. Usually we wouldn't really need to care, but here it is different. I decided to add National Teams the way Andy originally did it with team Pro Tours aka the teams are only acknowledged by their team members having the same placement.

Th

[2018-03-28 22:07] czarandy commented on #135
Sure, we could have a per-event nationality pretty easily.

[2018-05-02 19:11] mtgmagicalhack commented on #97
@OdinFK @czarandy Is this still active?

My 2 cents:
* Technical stuff should be in the README.md at GitHub.
* "About us" information could be on website, but I would not know what content to put there.

[2018-05-02 19:25] mtgmagicalhack commented on #101
@OdinFK @czarandy I could do this with little effort.

[2018-05-02 19:28] mtgmagicalhack commented on #85
@OdinFK @czarandy What's the status here? I'd assume teams has many open ends, but it would be pretty cool to have. Should we pursue this further? I could provide IxD and UI code. How solid is our current data?

[2018-05-02 19:30] mtgmagicalhack commented on #79
@OdinFK Any action required here currently?

[2018-05-02 19:31] mtgmagicalhack commented on #77
@OdinFK @czarandy I could draft/code something here based on what we already have.

[2018-05-02 19:35] mtgmagicalhack commented on #66
@OdinFK @czarandy This is fixed as far as I'm concerned.

[2018-05-02 19:35] #66 closed

[2018-05-02 19:49] mtgmagicalhack commented on #56
@czarandy @OdinFK Looking back at this, I think the react-virtualised solution in my PR (https://github.com/czarandy/mtgptresults/pull/108) adds to much complexity. I'd suggest using bootstrap responsive tables. It's better than what we currently have for mobile and is almost effortless.

[2018-05-02 19:51] mtgmagicalhack commented on #42
@czarandy @OdinFK Any thoughts? Should we try to pursue this or close it?

[2018-05-02 19:59] mtgmagicalhack commented on #40
@OdinFK @czarandy Any updates on this? I think most of the effort would be data gathering. Displaying deck lists with card previews etc. would not be hard from a dev perspective.

[2018-05-02 20:04] mtgmagicalhack commented on #38
@OdinFK This is awesome! I will work in this with high priority. cc @czarandy

[2018-05-02 20:10] mtgmagicalhack commented on #35
@czarandy @OdinFK I don't think we can do this any time soon. I'd close the issue.

[2018-05-02 20:12] mtgmagicalhack commented on #23
@OdinFK This duplicates #38, doesn't it?

[2018-05-03 06:17] OdinFK commented on #128
I talked to Mike and he said he was trying to get permission. Originally he had said it was not possible, but then there seemed to be a way, but I haven't heard from him in a while, but I will check back with him.

[2018-05-03 06:25] OdinFK commented on #79
This is not really an action topic. I collected a bunch of cases where it is unclear if they refer to the same person, but I put them in a local text file, which is probably fine as long as I am the only one doing these kinds of edits.

[2018-05-03 06:29] OdinFK commented on #42
This is cool, but I don't think we should get sidetracked by stuff like this right now. I am very happy that you are back on board, and I would rather you fix some things, that actually need fixing, or add content from my backlog to the website.

Once that is done we can reevaluate what to do next.

[2018-05-03 06:30] OdinFK commented on #40
Same as win%: This is like two tiers of importance lower than some other things.

[2018-05-03 06:31] OdinFK commented on #35
Agreed

[2018-05-03 06:35] OdinFK commented on #23
Not quite, but they are probably close enough to not warrant two issues.

-Associated events was about having a parent/child relationship between Pro Tours and associated events like junior pts or worlds team competitions
-Add different tournament types is about assigning specific tournament types. I can do this "without your consent" but just doing it and not telling anybody leads nowhere so I ad

[2018-05-03 06:38] OdinFK commented on #97
I think the site should definitely have an 'About' section. It is cool to have this site, but without an about section the user cannot put this into context. What is the scope? Is this work in progress? Is this constantly updated? etc.

[2018-05-03 06:52] OdinFK commented on #38
In case you just downloaded the data. I uploaded a few World Team Competitions. This is an ongoing project, but it takes a while to add these.

[2018-05-04 20:48] OdinFK commented on #128
I've gotten the okay from Mike. We can use the Sideboard, but he would like me to keep him in the loop, but that's easy.

Maybe we can work through the backlog before PT 25th Anniversary. Who knows, maybe we can even get a feature for the PT coverage. I have not asked Mike about it, and it would be great to have a little more to show before I do, but it might actually fit the theme of a PT that su

[2018-05-20 11:11] OdinFK commented on #35
I don't know why it never occurred to me, but there is a very simple way to get all the GP Top 8s included. Well, it's easy for you guys anyway I suppose. There is this page:
https://magic.wizards.com/en/events/coverage/top-players/statistics/gp-top-8-by-event
Should not be harder to read out than reading out an individual Pro Tour standings page.

If one of you thinks about doing this tell me in

[2018-05-22 16:17] mtgmagicalhack commented on #38
#138

[2018-05-29 08:11] OdinFK commented on #38
I added some more events. All the Worlds Team Competitions are in /the directory/ now.

Do you guys have an easy way to parse the data from the World Magic Cups? I did the first one manually (it was not on the Wizards site anyway), but I am not actually craving the idea to do another five manually.

[2018-06-04 15:03] OdinFK opened #140 "Logos for various event types"
Not sure how and where to include these myself, but as of now the images for some of the new event types are inappropriate. Better images would be:

Magic Online Championship:
http://archive.wizards.com/mtg/images/digital/magiconline/logo_magiconlinechampionship.png

Magic Invitational:
There doesn't seem to be an official logo. The standard Magic logo should do:
https://www.forbiddenpower.com/wp-

[2018-06-04 15:07] OdinFK opened #142 "Pro Tour Dominaria"
Please add this to the website.

Also currently some players have no entry in the players.json. Would be cool if you could correct that at the same time.

[2018-06-08 07:07] OdinFK commented on #140
This would be an adequate icon for the World Magic Cup (the are a few in the backlog):
https://d1u5p3l4wpay3k.cloudfront.net/mtgsalvation_gamepedia/7/70/Magic_Cup.jpg?version=d8496fa9f031e144c79caa19be1294b5

[2018-06-10 11:46] mtgmagicalhack commented on #142
@czarandy I created a PR for ptdom, took a bit longer, needed to update the parser as the HTML on the standings page had changed again.

@OdinFK Please create a separate issue for the missing the players, I don't know wich players are affected.

[2018-06-10 11:53] mtgmagicalhack commented on #140
@OdinFK I believe you should be able to update the logos yourself. Images need be placed in `/data/logo` and are referenced in the json files by their files name only.

[code]

Size is roughly

[2018-06-10 11:57] #56 closed

[2018-06-10 11:58] #42 closed

[2018-06-10 11:59] mtgmagicalhack commented on #23
@OdinFK This can be closed now, right?

[2018-06-10 12:02] mtgmagicalhack commented on #38
Currently not, no.

Please open a new issue for adding the other world magic cups. Otherwise issues in our tracker never get closed.

[2018-06-10 12:04] #38 closed

[2018-06-10 14:58] OdinFK opened #144 "Players missing in players.json"
Previously the players.json was automatically updated with new players whenever a new file was added to our database. However, the new 'other events' have not been added to the database yet although the data is online by now.

I could of course do this manually, but this is not only work, that doesn't really need to be done. Doing this automatically is actually quite useful for me. All the new pla

[2018-06-10 15:02] OdinFK commented on #135
I have used per event nationality for a few WMCs.

[2018-06-10 15:04] #23 closed

[2018-06-11 19:01] #142 closed

[2018-06-11 19:14] czarandy commented on #144
I updated the players.json file

[2018-06-11 19:14] #144 closed

[2018-06-11 19:15] czarandy commented on #144
https://github.com/czarandy/mtgptresults/commit/5a9263d85166fed2016cfc8d833a6a1716931077

[2018-06-13 13:03] OdinFK commented on #140
I think I managed to add logos for the other events. We still miss a few more adequate logos, but I think we can close this issue for now anyway.

[2018-06-13 13:03] #140 closed

[2018-06-14 10:03] OdinFK opened #147 "Top 8/16 calculation faulty"
-Shahar Shenar is displayed as having zero Top 16 finishes although he finished PT Ixalan in 14th place which i correctly displayed.
-Seth Manfield is displayed as having 1 win and 3 Top 8s, but he has the win + three top 8s, which is four Top 8s. I checked other players, number of Top 8s is otherwise correctly calculated by including the wins.

I have no clue why these numbers are not calculated

[2018-06-14 16:15] czarandy commented on #147
Looks like it was because PT Ixalan was missing the teamsize argument. Fixed in https://github.com/czarandy/mtgptresults/commit/d3cc74255fdc6ea3d58b4624f9b2e2d73eb5b73f

[2018-06-14 16:15] #147 closed

[2018-07-14 10:24] OdinFK opened #152 "Player Ranking Top 8/Total not working"
On the Player Ranking page if you sort by Top 8/Total the sort will first take ages and when it is done it only yields a bunch of "too few PTs".

I think this stat should be calculated only on players with 10+ PT attendances.

[2018-07-14 22:25] #152 closed, assigned to nobody

[2018-08-05 20:39] OdinFK opened #154 "parse pt 25tha data"
I just uploaded the Silver Showcase. Would be sweet if you could parse the PT results when it's done later tonight (should be in 2-3 hourse), and also update the players.json. I will care for the rest then tomorrow or the day after.

Thanks!

[2018-10-30 15:09] OdinFK commented on #154
The next PT is coming up and this is still not online :-/
Are you guys not interesting in pursuing this project any further?

[2018-11-13 13:42] OdinFK commented on #154
It would be awesome if you could parse PT25 and PT GRN.

[2018-11-23 23:05] czarandy commented on #154
I added those PTs finally. Unfortunately the team one they only have last names in the standings table so it makes it not ideal :(

[2018-11-23 23:05] #154 closed

[2018-12-28 08:21] OdinFK opened #158 "Upload team series and wmc"
Hey Andi, there are a few updates in the backlog again. Would be cool if you could upload them to the website. We would be fully up to date again then.

Thanks and happy holidays!
Florian

[2018-12-28 21:53] czarandy commented on #158
Unfortunately, because of personal issues I am no longer able to commit to working on this project. I have published one final update, but no more work will be done on this project unless someone else wants to take it over.

[2018-12-28 21:53] #158 closed